<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="Keywords" content="">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
	<title>Мой список задач</title>
	<!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body class="#bdbdbd grey lighten-1">

	<nav class="#1e88e5 blue darken-1">
	    <div class="nav-wrapper container">
	      <a href="#" class="brand-logo">Мои задачи</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="#create">Создать новую задачу</a></li>
	        <li><a href="#current">Список задач</a></li>
	      </ul>
	    </div>
	  </nav>
	
	<div id="app" class="container">

		<div id="current" class="stats card-panel #42a5f5 blue lighten-1">
			<div class="stats__heading white-text">
				<h3 class="stats__title">{{'Текущие задачи: ' + tasks.length}} </h3>
			</div>
			<task @task_done="delete_task(index)" :data="data" v-for="(data, index) in tasks" :key="index"></task>
		</div>

		<div id="create" class="add_task card-panel hoverable row #ffa726 orange lighten-1">
			<div class="white-text">
				<h3>Новая задача:</h3>
			</div>
			<div class="add_task__input col m10 s12">
				<input v-model="new_task.title" id="title" type="text" class="autocomplete white-text" placeholder="Новая задача" required>
				<span class="helper-text" data-error="Title is required"></span>
				<textarea v-model="new_task.desc" placeholder="Описание задачи" class="white-text"></textarea>
				<span class="character-counter" style="float: right; font-size: 12px;">
			        {{new_task.desc.length}}/2048
			    </span>
			</div>
			<button @click="add_task()" class="add_task__button waves-effect waves-light btn  col m2 s12"><i class="material-icons">add</i></button>
		</div>
	</div>







	
	<!-- Compiled and minified JavaScript -->
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>


